body {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.btn {
    display: flex; /* Use Flexbox for the button itself */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    width: 100px;
    height: 50px;
    filter: drop-shadow(10px 7px 10px #ebdfeb);
    font-weight: 700;
    font-size: 16px;
    background-image: linear-gradient(to right, #ebdfeb 0, #92b9e3 51%, #ebdfeb 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    outline: none;
    text-align: center; /* Ensure text is centered */
    margin-top: 10px;
}

.btn-gradient:hover {
    background-position: right center;
}
label {
    width: 200px;
}
#total-display{
    display: none;
}